body{ 
    margin: 0;
    height: 100%;
}

.hidden {
    display: none;
}

header {
    width: 100%;
    background-color: grey;
    text-align: center;
}

header h1 {
    padding: 20px;
    margin: 0px;
}

header p {
    padding: 20px;
    margin: 0px;
}

#search-options {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-radio {
    margin-top: 15px;
}

.user-input-div {
    margin: 20px;
    text-align: center;
    display: inline;
}

.user-input-div h4 {
    margin-top: 0;
}

#search-by-input {
    border: 1px solid black;
}

#search-by-input-submit {
    border: 1px solid black;
}

#comic-search-list {
    background-color: grey;
    height: 100vh;
    overflow-y: scroll;
}

#search-results {
    width: 90%;
    margin: 0;
    margin-right: 5%;
    margin-left: 5%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-align: left;
}

#search-results .hidden {
    display: none;
}

#search-results {
    width: 90%;
    background-color: gainsboro;
    padding: 0px;
    margin-top: 1px;
    margin-right: 5%;
    margin-left: 5%;
}

.search-item {
    list-style: none;
    display: flex;
    border: 1px solid grey;
}

.search-item:hover {
    border: 2px solid yellow;
}

.search-item img {
    size: 60%;
    border: 1px solid black;
    max-width: 80px;
    max-height: 80px;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
}

#comic-info-overlay {
    position: fixed; /* Sit on top of the page content */
    border: 1px solid black;
    width: 80%; /* Full width (cover the whole page) */
    margin-left: 10%;
    margin-right: 10%;
    height: 80%; /* Full height (cover the whole page) */
    margin-top: 10%;
    margin-bottom: 10%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(201, 201, 201); /* Black background with opacity */
    text-align: center;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    overflow-y: scroll;      
}

.comic-info-overlay-content p {
    margin: 10px;
}

.blur {
    filter: blur(1px);
}

.comic-info-overlay-content img {
    max-width: 60%;
    border: 1px solid black;
}

.comic-info-overlay-content figure {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.comic-info-overlay-content .information-close-window {
    position: static;
    width: 50px;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

@media screen and (min-width: 700px) {

    #search-results .hidden {
        display: none;
    }

    #search-results {
        background-color: grey;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    #search-results ul {
        width: 60%;
        background-color: gainsboro;
        padding-left: 10px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .comic-info-overlay-content {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }
}

@media screen and (min-width: 1400px) {
    #search-results .hidden {
        display: none;
    }
    
    #search-options {
        width: 100%;
    }
    

    .comic-info-overlay-content {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
       
    }
}
